msgid ""
msgstr ""
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"X-Generator: POEditor.com\n"
"Project-Id-Version: alrc\n"
"Language: pt-br\n"
"Plural-Forms: nplurals=2; plural=(n != 1);\n"

#: ../../library/admin/admin.php:353
msgid "<div class=\"headway-update-backup-reminder alert-red alert\"><h3>Remember!</h3><p>Please backup before updating.  Headway Themes recommends <a href=\"%s\" target=\"_blank\"><strong>BackupBuddy</strong></a> for all backup and migration needs.</div>"
msgstr ""

#: ../../library/api/api-admin-meta-box.php:12
msgid "Error: The meta box class being registered does not exist."
msgstr ""

#: ../../library/api/api-block.php:127
msgid "Error: The block options class being registered does not exist."
msgstr ""

#: ../../library/api/api-box.php:12
msgid "Error: The box class being registered does not exist."
msgstr ""

#: ../../library/api/api-element.php:125
msgid "Error: Arguments must be an array for this element."
msgstr ""

#: ../../library/api/api-element.php:150
msgid "Error: An ID is required for this element."
msgstr ""

#: ../../library/api/api-element.php:153
msgid "Error: A name is required for this element."
msgstr ""

#: ../../library/api/api-element.php:156
msgid "Error: A group is required for this element."
msgstr ""

#: ../../library/api/api-element.php:159
msgid "Error: A CSS selector is required for this element."
msgstr ""

#: ../../library/api/api-element.php:162
msgid "Error: Properties are required for this element."
msgstr ""

#: ../../library/api/api-element.php:201
msgid "Error: Arguments must be an array for this element instance."
msgstr ""

#: ../../library/api/api-element.php:217
msgid "Error: An ID is required for this element instance."
msgstr ""

#: ../../library/api/api-element.php:220
msgid "Error: A name is required for this element instance."
msgstr ""

#: ../../library/api/api-element.php:223
msgid "Error: A group is required for this element instance."
msgstr ""

#: ../../library/api/api-element.php:226
msgid "Error: A parent element is required for this element instance."
msgstr ""

#: ../../library/api/api-element.php:229
msgid "Error: A CSS selector is required for this element instance."
msgstr ""

#: ../../library/api/api-element.php:239
msgid "Error: The element specified does not support instances."
msgstr ""

#: ../../library/api/api-element.php:265
msgid "Error: The group being registered already exists."
msgstr ""

#: ../../library/api/api-element.php:281
msgid "Error: Arguments must be an array for deregistering this element."
msgstr ""

#: ../../library/api/api-element.php:293
msgid "Error: A group is required for deregistering this element."
msgstr ""

#: ../../library/api/api-element.php:296
msgid "Error: An ID is required for deregistering this element."
msgstr ""

#: ../../library/api/api-element.php:318
msgid "Error: Arguments must be an array for deregistering this element instance."
msgstr ""

#: ../../library/api/api-element.php:331
msgid "Error: A group is required for deregistering this element instance."
msgstr ""

#: ../../library/api/api-element.php:334
msgid "Error: An instance ID is required for deregistering this element instance."
msgstr ""

#: ../../library/api/api-element.php:337
msgid "Error: An element is required for deregistering this element instance."
msgstr ""

#: ../../library/api/api-element.php:357
msgid "Error: The group being deregistered does not exist."
msgstr ""

#: ../../library/api/api-panel.php:12
msgid "Error: The panel class being registered does not exist."
msgstr ""

#: ../../library/api/api-updater.php:168
msgid "<div id=\"update-nag\">%s %s is now available, you're running %s! <a href=\"%s\">Click here to update</a> or <a href=\"%s\" target=\"_blank\">learn more</a> about the update.</div>"
msgstr ""

#: ../../library/api/api-updater.php:173
msgid "<div id=\"update-nag\">%s %s is now available, you're running %s! Go to the <a href=\"%s\" target=\"_blank\">Headway Dashboard</a> to download the latest version or <a href=\"%s\" target=\"_blank\">learn more</a> about the update.</div>"
msgstr ""

#: ../../library/api/api-updater.php:185
msgid "<div id=\"update-nag\">%s %s is now available, you're running %s!  Your Headway license has expired.  Please visit the <a href=\"%s\">Headway Dashboard</a> to renew your license so you can continue to receive updates.</div>"
msgstr ""

#: ../../library/api/api-updater.php:190
msgid "<div id=\"update-nag\">%s %s is now available, you're running %s!  You will not be able to update until you enter a valid license key on the <a href=\"%s\">Headway Options</a> panel.</div>"
msgstr ""

#: ../../library/blocks/blocks.php:75
msgid "The block class being registered does not exist."
msgstr ""

#: ../../library/blocks/blocks.php:627
msgid "The Headway blocks array does not exist."
msgstr ""

#. wpml-name: 8cf04a9734132302f96da8e113e80ce5
#: wpml-name: 8cf04a9734132302f96da8e113e80ce5
#: ar
#: 
msgctxt "wpml
"
msgid "Home"
msgstr ""

#. new
#: ../../library/blocks/breadcrumbs/breadcrumbs.php:94
msgid "Search Results For:"
msgstr ""

#: ../../library/blocks/breadcrumbs/breadcrumbs.php:103
msgid "Author Archives:"
msgstr ""

#: ../../library/blocks/breadcrumbs/breadcrumbs.php:110
msgid "Tag Archives:"
msgstr ""

#: ../../library/blocks/breadcrumbs/breadcrumbs.php:117
msgid "Archives:"
msgstr ""

#: ../../library/blocks/breadcrumbs/breadcrumbs.php:124
msgid "Whoops! Page Not Found..."
msgstr ""

#: ../../library/blocks/breadcrumbs/breadcrumbs.php:132
msgid "You Are Here:"
msgstr ""

#: ../../library/blocks/content/comments.php:28
msgid "This post is password protected.  Please enter the password to view the comments."
msgstr ""

#: ../../library/blocks/content/comments.php:44
msgid "No Responses"
msgstr ""

#: ../../library/blocks/content/comments.php:44
msgid "One Response"
msgstr ""

#: ../../library/blocks/content/comments.php:44
msgid "% Responses"
msgstr ""

#: ../../library/blocks/content/comments.php:45
msgid "to"
msgid_plural "yes\n"
""
msgstr[0] ""
msgstr[1] ""

#: ../../library/blocks/content/comments.php:68
msgid "Sorry, comments are closed for this post."
msgstr ""

#: ../../library/blocks/content/content-display.php:159
msgid "Daily Archives: %s"
msgstr ""

#: ../../library/blocks/content/content-display.php:162
msgid "Monthly Archives: %s"
msgstr ""

#: ../../library/blocks/content/content-display.php:165
msgid "Yearly Archives: %s"
msgstr ""

#: ../../library/blocks/content/content-display.php:168
msgid "Blog Archives"
msgstr ""

#: ../../library/blocks/content/content-display.php:178
msgid "Category Archives: %s"
msgstr ""

#: ../../library/blocks/content/content-display.php:196
#: ../../library/blocks/content/content-display.php:199
msgid "Author Archives: %s"
msgstr ""

#: ../../library/blocks/content/content-display.php:209
msgid "Search Results for: %s"
msgstr ""

#: ../../library/blocks/content/content-display.php:218
msgid "Tag Archives: %s"
msgstr ""

#: ../../library/blocks/content/content-display.php:509
msgid "Pages:"
msgstr ""

#: ../../library/blocks/content/content-display.php:545
msgid "Whoops!  Page Not Found"
msgstr ""

#: ../../library/blocks/content/content-display.php:553
msgid "<p>Don't fret, you didn't do anything wrong.  It appears that the page you are looking for does not exist or has been moved elsewhere.</p>"
msgstr ""

#: ../../library/blocks/content/content-display.php:555
msgid "<p>If you keep ending up here, please head back to our <a href=\"%s\">homepage</a> or try the search form below.</p>"
msgstr ""

#: ../../library/blocks/content/content-display.php:621
msgid "Discard Reply"
msgstr ""

#: ../../library/blocks/content/content-display.php:647
msgid "<span class=\"meta-nav\">&larr;</span> Older posts"
msgstr ""

#: ../../library/blocks/content/content-display.php:648
msgid "Newer posts <span class=\"meta-nav\">&rarr;</span>"
msgstr ""

#: ../../library/blocks/content/content-display.php:826
msgid "<span class=\"tag-links\"><span>Tags:</span> "
msgstr ""

#: ../../library/blocks/footer/footer.php:118
msgid "Administration Panel"
msgstr ""

#: ../../library/blocks/footer/footer.php:120
msgid "Administration Login"
msgstr ""

#: ../../library/blocks/footer/footer.php:141
msgid "Powered by Headway, the "
msgstr ""

#: ../../library/blocks/footer/footer.php:153
msgid "Copyright"
msgstr ""

#: ../../library/blocks/footer/footer.php:169
msgid "Go To Top"
msgstr ""

#: ../../library/blocks/footer/footer.php:191
msgid "View Full Site"
msgstr ""

#: ../../library/blocks/footer/footer.php:198
msgid "View Mobile Site"
msgstr ""

#: ../../library/common/compiler.php:331
msgid "There was an error while Headway tried to compile the LESS CSS.  Full Error: "
msgstr ""

#: ../../library/common/functions.php:734
msgid "Type to search, then press enter"
msgstr ""

#: ../../library/common/functions.php:762
msgid "Search"
msgstr ""

#. acf
#: ../../library/data/data-elements.php:62
#: ../../library/data/data-elements.php:89
#: ../../library/data/data-elements.php:170
#: ../../library/data/data-elements.php:201
#: ../../library/data/data-elements.php:230
#: ../../library/data/data-elements.php:254
msgctxt "ACF"
msgid "The element ID is not registered."
msgstr ""

#: ../../library/display/grid-renderer.dev.php:964
#: ../../library/display/grid-renderer.php:2
msgid "No Content to Display"
msgstr ""

#. no
#: ../../library/display/grid-renderer.dev.php:970
#: ../../library/display/grid-renderer.php:2
msgid "<p>There are no blocks to display.  Add some by going to the <a href=\"%s\">Headway Grid</a>!</p>"
msgstr ""

#: ../../library/display/grid-renderer.dev.php:974
#: ../../library/display/grid-renderer.php:2
msgid "<p>There is no content to display.  Please notify the site administrator or <a href=\"%s\">login</a>.</p>"
msgstr ""

#: ../../library/fonts/traditional-fonts.php:119
msgid "To register a font, the argument array must include an \"id\", \"stack\", and \"name\"."
msgstr ""

#: ../../library/visual-editor/panels/design/panel-default-elements.php:32
msgid "Please select a default element to the left."
msgstr ""

#: ../../library/visual-editor/panels/design/panel-editor.php:115
msgid "Please select an element to the left."
msgstr ""

#: text_domain
#: 
msgctxt "site"
msgid "alrc"
msgstr ""

#: 
msgctxt "40-fff8db9478d2fd72df65a67ee6b62f67"
msgid "title"
msgstr ""

#: 
msgctxt "Error"
msgid "Error"
msgstr ""

#: 
msgctxt "4-5d151d1059a6281335a10732fc49620e"
msgid "title"
msgstr ""

#: 
msgctxt "4-5d151d1059a6281335a10732fc49620e"
msgid "body"
msgstr ""

#: 
msgctxt "20-727081a4c5ad28479ce66658528274f7"
msgid "title"
msgstr ""

#: 
msgctxt "20-727081a4c5ad28479ce66658528274f7"
msgid "body"
msgstr ""

#: 
msgctxt "20-727081a4c5ad28479ce66658528274f7"
msgid "t_1"
msgstr ""

#: wpml
msgctxt "text_domain"
msgid "alrc"
msgstr ""

#. wpml-name: 7af37a70fa24eb018dec5125d4909643
#: 
msgid "EB-5 Program"
msgstr ""

#. wpml-name: e4fb6727348df45bac28884d842dab9c
#: 
msgid "Why Choose ALRC"
msgstr ""

#. wpml-name: be8df1f28c0abc85a0ed0c6860e5d832
#: 
msgid "Blog"
msgstr ""

#. wpml-name: f305b087e725a9f3782856e226fad14d
#: 
msgid "Current Projects"
msgstr ""

#. wpml-name: bd6effd79c66ca69f2a24c1acb8a5f89
#: 
msgid "EB-5 Process"
msgstr ""

#. wpml-name: 0b84b379cc039459bf646b88e1abbd52
#: 
msgid "Benefits Of The EB-5 Program"
msgstr ""

#. wpml-name: 7ac153c571e36ca05bc7ee12af6690d0
#: 
msgid "What is an EB-5 Regional Center"
msgstr ""

#. wpml-name: 68b9aaa84c841cef4d93d86fdeb1c736
#: 
msgid "EB-5 Visas"
msgstr ""

#. wpml-name: 3bbbad631029e3575da7a151bba4f37c
#: 
msgid "Log In"
msgstr ""

#. wpml-name: 9cfc9b74983d504ec71db33967591249
#: 
msgid "Contact Us"
msgstr ""

#. wpml-name: cfe6e34a4c7f24aad32aa4299562f5b1
#: 
msgid "Home Page"
msgstr ""

#. wpml-name: c39eaab018e2e16320836a210cab2617
#: 
msgctxt "text direction"
msgid "ltr"
msgstr ""

#. wpml-name: d445e4a26044411d024021a16f3b10ee
#: 
msgid "number_format_decimal_point"
msgstr ""

#. wpml-name: 862b796393fb64766820ec1e33bfd9bd
#: 
msgid "number_format_thousands_sep"
msgstr ""

#. wpml-name: 21b7eb30013b04776f5b06bc59209391
#: 
msgid "PM"
msgstr ""

#. wpml-name: 25ec916d56b8212e569dbf2e4e4b51d4
#: 
msgid "AM"
msgstr ""

#. wpml-name: 5109d85d95fece7816d9704e6e5b1279
#: 
msgid "pm"
msgstr ""

#. wpml-name: c04cd38aeb30f3ad1f8ab4e64a0ded7b
#: 
msgid "am"
msgstr ""

#. wpml-name: cc6a9ff21ef7c0cd6318a782508f3c59
#: 
msgid "Dec_December_abbreviation"
msgstr ""

#. wpml-name: 118d7993c5aded1faa0583095fac0f89
#: 
msgid "Nov_November_abbreviation"
msgstr ""

#. wpml-name: ee4fa62276ab5e609f4c19827957f3a3
#: 
msgid "Oct_October_abbreviation"
msgstr ""

#. wpml-name: 38569de1a2db173d7c1c1baea24edde8
#: 
msgid "Sep_September_abbreviation"
msgstr ""

#. wpml-name: abd3008b12c080f09f40c0d0d46aa5d9
#: 
msgid "Aug_August_abbreviation"
msgstr ""

#. wpml-name: 9c31f3eeb0fc1f46d70126273cb972d4
#: 
msgid "Jul_July_abbreviation"
msgstr ""

#. wpml-name: 252278a2cd443f7f042d48063429be78
#: 
msgid "Jun_June_abbreviation"
msgstr ""

#. wpml-name: 087bc523b6da106377da033e4a4a18df
#: 
msgid "May_May_abbreviation"
msgstr ""

#. wpml-name: a099803dca47a365c86ed6220ca3797e
#: 
msgid "Apr_April_abbreviation"
msgstr ""

#. wpml-name: a65520a4d31e3375d751893b9e5b41b7
#: 
msgid "Mar_March_abbreviation"
msgstr ""

#. wpml-name: 41d00f37238e4919998bfe097e066c4d
#: 
msgid "Feb_February_abbreviation"
msgstr ""

#. wpml-name: 261b8bfba31955859768bc4e801db630
#: 
msgid "Jan_January_abbreviation"
msgstr ""

#. wpml-name: 82331503174acbae012b2004f6431fa5
#: 
msgid "December"
msgstr ""

#. wpml-name: 7e823b37564da492ca1629b4732289a8
#: 
msgid "November"
msgstr ""

#. wpml-name: eca60ae8611369fe28a02e2ab8c5d12e
#: 
msgid "October"
msgstr ""

#. wpml-name: cc5d90569e1c8313c2b1c2aab1401174
#: 
msgid "September"
msgstr ""

#. wpml-name: 41ba70891fb6f39327d8ccb9b1dafb84
#: 
msgid "August"
msgstr ""

#. wpml-name: 1b539f6f34e8503c97f6d3421346b63c
#: 
msgid "July"
msgstr ""

#. wpml-name: 688937ccaf2a2b0c45a1c9bbba09698d
#: 
msgid "June"
msgstr ""

#. wpml-name: 195fbb57ffe7449796d23466085ce6d8
#: 
msgid "May"
msgstr ""

#. wpml-name: 3fcf026bbfffb63fb24b8de9d0446949
#: 
msgid "April"
msgstr ""

#. wpml-name: fa3e5edac607a88d8fd7ecb9d6d67424
#: 
msgid "March"
msgstr ""

#. wpml-name: 659e59f062c75f81259d22786d6c44aa
#: 
msgid "February"
msgstr ""

#. wpml-name: 86f5978d9b80124f509bdb71786e929e
#: 
msgid "January"
msgstr ""

#. wpml-name: 13c7d2d737f81f7bf89aed9fbcd0ad55
#: 
msgid "Sat"
msgstr ""

#. wpml-name: ac616f844b9a5ea5a827bf7fb99b1ad5
#: 
msgid "Fri"
msgstr ""

#. wpml-name: ed5e8353dfc585f4c6b3a55d1a9fc01d
#: 
msgid "Thu"
msgstr ""

#. wpml-name: 510c292b1686eb070d9e90a575f74106
#: 
msgid "Wed"
msgstr ""

#. wpml-name: 2ddecde85408faf230652444db78cb72
#: 
msgid "Tue"
msgstr ""

#. wpml-name: fd29458ae58ac32a2d8734ed90ad51ec
#: 
msgid "Mon"
msgstr ""

#. wpml-name: ef6572e4cd58bb39a3f4e82fc64fe9f0
#: 
msgid "Sun"
msgstr ""

#. wpml-name: c288d0b5f13e167c13f37a9a3c2190f2
#: 
msgid "S_Saturday_initial"
msgstr ""

#. wpml-name: f55a9e51f324cba25700b7022e22d873
#: 
msgid "F_Friday_initial"
msgstr ""

#. wpml-name: 1594d08f0bbd717b061da4254623214f
#: 
msgid "T_Thursday_initial"
msgstr ""

#. wpml-name: 9719e16ea05051a98851954a5996ffd3
#: 
msgid "W_Wednesday_initial"
msgstr ""

#. wpml-name: ef6e12fc4240d030f376be5b6fdbac29
#: 
msgid "T_Tuesday_initial"
msgstr ""

#. wpml-name: 6ae5acdfe6d14ddda658d2cf75c071ee
#: 
msgid "M_Monday_initial"
msgstr ""

#. wpml-name: ae8dae70180844a5731caa811ef950dd
#: 
msgid "S_Sunday_initial"
msgstr ""

#. wpml-name: 8b7051187b9191cdcdae6ed5a10e5adc
#: 
msgid "Saturday"
msgstr ""

#. wpml-name: c33b138a163847cdb6caeeb7c9a126b4
#: 
msgid "Friday"
msgstr ""

#. wpml-name: 78ae6f0cd191d25147e252dc54768238
#: 
msgid "Thursday"
msgstr ""

#. wpml-name: 796c163589f295373e171842f37265d5
#: 
msgid "Wednesday"
msgstr ""

#. wpml-name: 5792315f09a5d54fb7e3d066672b507f
#: 
msgid "Tuesday"
msgstr ""

#. wpml-name: 6f8522e0610541f1ef215a22ffa66ff6
#: 
msgid "Monday"
msgstr ""

#. wpml-name: 9d1a0949c39e66a0cd65240bc0ac9177
#: 
msgid "Sunday"
msgstr ""

#. wpml-name: 4dea1c73da82d313ca79c4025b5ae4fe
#: 
msgid "Settings have been successfully updated"
msgstr ""

#. wpml-name: 1fe917b01f9a3f87fa2d7d3b7643fac1
#: $labels = array( 'name' => _x( 'FAQs', 'Post Type General Name', 'amlib' ),
#: 'singular_name' 'FAQ', Singular
msgctxt "Post Type Singular Name"
msgid "FAQ"
msgstr ""

#. wpml-name: 483a5da192f46e3cfe8391d3ef234fc4
#: $labels = array( 'name' => _x( 'FAQs', 'Post Type General Name', 'amlib' ),
msgctxt "Post Type General Name"
msgid "FAQs"
msgstr ""

#. wpml-name: 4ce244c748c4e9755d0e3f4fbd512539
#: $labels = array( 'name' => _x( 'Question Cats', 'Taxonomy General Name',
#: 'amlib' ), 'singular_name' Cat', Singular
msgctxt "Taxonomy Singular Name"
msgid "Question Cat"
msgstr ""

#. wpml-name: ae103cbc7e889ad096964db64fed5fb1
#: $labels = array( 'name' => _x( 'Question Cats', 'Taxonomy General Name',
#: 'amlib' ),
msgctxt "Taxonomy General Name"
msgid "Question Cats"
msgstr ""

#. wpml-name: 5405d8a903c83e89cb649f1b518ef1be
#: $args = array( 'label' => __( 'faqs', 'amlib' ), 'description' 'Frequently
#: Asked Questions',
msgid "Frequently Asked Questions"
msgstr ""

#. wpml-name: 6da8c9e2732fa8d24c7da01bbacdd3de
#: ); $args = array( 'label' => __( 'faqs', 'amlib' ),
msgid "faqs"
msgstr ""

#. wpml-name: 912f42b76bbd83121cd8298800d56b44
#: 'search_items' => __( 'Search FAQ', 'amlib' ), 'not_found' 'Not found',
#: 'not_found_in_trash' found in Trash',
msgid "Not found in Trash"
msgstr ""

#. wpml-name: 9e076f5885f5cc16a4b5aeb8de4adff5
#: 'update_item' => __( 'Update FAQ', 'amlib' ), 'search_items' 'Search
#: 'not_found' 'Not found',
msgid "Not found"
msgstr ""

#. wpml-name: 02bf6d7f3025b061c97e955445f586cc
#: 'edit_item' => __( 'Edit FAQ', 'amlib' ), 'update_item' 'Update
#: 'search_items' 'Search
msgid "Search FAQ"
msgstr ""

#. wpml-name: 1af154961e0181b7b20d97580347bd80
#: 'add_new' => __( 'Add FAQ', 'amlib' ), 'edit_item' 'Edit 'update_item'
#: 'Update
msgid "Update FAQ"
msgstr ""

#. wpml-name: 0245ee728c1d1a0b6f614ece92686fba
#: 'add_new_item' => __( 'Add New FAQ', 'amlib' ), 'add_new' 'edit_item' 'Edit
msgid "Edit FAQ"
msgstr ""

#. wpml-name: fe90d72a62b2b97be43b179de76dd9f2
#: 'view_item' => __( 'View FAQ', 'amlib' ), 'add_new_item' 'Add New 'add_new'
msgid "Add FAQ"
msgstr ""

#. wpml-name: 8afdc8b2a660a8665d9be781e9ada0cd
#: 'all_items' => __( 'All FAQs', 'amlib' ), 'view_item' 'View FAQ',
#: 'add_new_item' 'Add New
msgid "Add New FAQ"
msgstr ""

#. wpml-name: a02fd4f422d8ea7d09cbd0bc5522c928
#: 'parent_item_colon' => __( 'Parent FAQ:', 'amlib' ), 'all_items' 'All FAQs',
#: 'view_item' 'View FAQ',
msgid "View FAQ"
msgstr ""

#. wpml-name: 1c72b578e268509d94bd58e96a5e0437
#: 'menu_name' => __( 'FAQs', 'amlib' ), 'parent_item_colon' 'Parent FAQ:',
#: 'all_items' 'All FAQs',
msgctxt "ACF"
msgid "All FAQs"
msgstr ""

#. wpml-name: e2a8b0e1f4d70522598c975ed7eae2d0
#: 'singular_name' => _x( 'FAQ', 'Post Type Singular Name', 'amlib' ),
#: 'menu_name' __( 'FAQs', 'parent_item_colon' 'Parent FAQ:',
msgctxt "ACF"
msgid "Parent FAQ:"
msgstr ""

#. wpml-name: 483a5da192f46e3cfe8391d3ef234fc4
#: 'name' => _x( 'FAQs', 'Post Type General Name', 'amlib' ), 'singular_name'
#: 'FAQ', Singular 'menu_name' __(
msgid "FAQs"
msgstr ""

#. wpml-name: 9d1ead73e678fa2f51a70a933b0bf017
#: 'add_or_remove_items' => __( 'Add or remove categories', 'amlib' ),
#: 'choose_from_most_used' 'Choose from the most used items', 'not_found' 'Not
#: Found',
msgid "Not Found"
msgstr ""

#. wpml-name: cecc0ac394cd927ba5f9d6d0b8cb74fd
#: 'search_items' => __( 'Search Categories', 'amlib' ), 'add_or_remove_items'
#: 'Add or remove categories', 'choose_from_most_used' 'Choose from the most
#: used items',
msgid "Choose from the most used items"
msgstr ""

#. wpml-name: b6fe2338a55b95483f0380d5c36db23c
#: 'separate_items_with_commas' => __( 'Separate categories with commas',
#: 'amlib' ), 'search_items' 'Search Categories', 'add_or_remove_items' 'Add or
#: remove categories',
msgid "Add or remove categories"
msgstr ""

#. wpml-name: 547d406d2d88b3851d13a6850a72f81a
#: 'update_item' => __( 'Update Category', 'amlib' ),
#: 'separate_items_with_commas' 'Separate categories with commas',
#: 'search_items' 'Search Categories',
msgid "Search Categories"
msgstr ""

#. wpml-name: 30bd40db6897b2476e126ceedfd4a4ef
#: 'edit_item' => __( 'Edit Category', 'amlib' ), 'update_item' 'Update
#: 'separate_items_with_commas' 'Separate categories with commas',
msgid "Separate categories with commas"
msgstr ""

#. wpml-name: 17f72185527df754fda2147fe9214a68
#: 'add_new_item' => __( 'Add New Category', 'amlib' ), 'edit_item' 'Edit
#: 'update_item' 'Update
msgid "Update Category"
msgstr ""

#. wpml-name: 176bf027c77f1139b35c26a2b0641497
#: 'new_item_name' => __( 'New Category', 'amlib' ), 'add_new_item' 'Add New
#: 'edit_item' 'Edit
msgid "Edit Category"
msgstr ""

#. wpml-name: 3eccdfd36e2570f5ce58a84fb9f820d9
#: 'parent_item_colon' => __( 'Parent Item:', 'amlib' ), 'new_item_name' 'New
#: Category', 'add_new_item' 'Add New
msgid "Add New Category"
msgstr ""

#. wpml-name: 4223dfcd18217eff4b6de709a9b27f19
#: 'parent_item' => __( 'Parent Category', 'amlib' ), 'parent_item_colon'
#: Item:', 'new_item_name' 'New
msgid "New Category"
msgstr ""

#. wpml-name: 77b20cc1a5bac2170174f444efdd9d06
#: 'all_items' => __( 'All Categories', 'amlib' ), 'parent_item' 'Parent
#: Category', 'parent_item_colon' Item:',
msgid "Parent Item:"
msgstr ""

#. wpml-name: 4e98e60e38a29ab7bd94ea815c4f2ef2
#: 'menu_name' => __( 'Question Category', 'amlib' ), 'all_items' 'All
#: Categories', 'parent_item' 'Parent
msgid "Parent Category"
msgstr ""

#. wpml-name: a6a2a55bea8760389dfca77132905b7c
#: 'singular_name' => _x( 'Question Cat', 'Taxonomy Singular Name', 'amlib' ),
#: 'menu_name' __( Category', 'all_items' 'All Categories',
msgid "All Categories"
msgstr ""

#. wpml-name: 7a49ee198045a894cd0f359240e5c697
#: 'name' => _x( 'Question Cats', 'Taxonomy General Name', 'amlib' ),
#: 'singular_name' Cat', Singular 'menu_name' __( Category',
msgid "Question Category"
msgstr ""

#. wpml-name: 5d8c5549a33065561f0beeb6741bd8e9
#: 'name' => __( 'Right Sidebar Widget Area', 'amlib' ), 'id' 'right-sidebar',
#: 'description' 'Appears on the right side of blog index.',
msgid "Appears on the right side of the blog index."
msgstr ""

#. wpml-name: 55361e0a814e715deccf0fb38507160e
#: register_sidebar( array( 'name' => __( 'Right Sidebar Widget Area', 'amlib'
#: ),
msgid "Right Sidebar Widget Area"
msgstr ""

#. wpml-name: 1b0c023985fe0db723a86c19e1b60d93
#: 'primary-nav' => __( 'Primary Navigation', 'amlib' ), 'top-links' 'Top Bar
#: Links', 'footer-links' 'Footer 'amlib'),
msgid "Footer Links"
msgstr ""

#. wpml-name: 6117ef98382c8f32c9c7995235130ea1
#: register_nav_menus( array( 'primary-nav' => __( 'Primary Navigation',
#: 'amlib' ), 'top-links' 'Top Bar Links',
msgctxt "top nav"
msgid "Top Bar Links"
msgstr ""

#. wpml-name: 062e23974f590235ee391b5085862625
#: // This theme uses wp_nav_menu() in two locations. register_nav_menus(
#: array( 'primary-nav' => __( 'Primary Navigation', 'amlib' ),
msgid "Primary Navigation"
msgstr ""

#: 
msgctxt "ar "
msgid "ar"
msgstr ""

#. wpml-name: 8cf04a9734132302f96da8e113e80ce5
#: 
msgid "Home"
msgstr ""

#. wpml-name: 1c72b578e268509d94bd58e96a5e0437
#: 'menu_name' => __( 'FAQs', 'amlib' ), 'parent_item_colon' 'Parent FAQ:',
#: 'all_items' 'All FAQs',
msgid "All FAQs"
msgstr ""

#. wpml-name: e2a8b0e1f4d70522598c975ed7eae2d0
#: 'singular_name' => _x( 'FAQ', 'Post Type Singular Name', 'amlib' ),
#: 'menu_name' __( 'FAQs', 'parent_item_colon' 'Parent FAQ:',
msgid "Parent FAQ:"
msgstr ""

#. wpml-name: 6117ef98382c8f32c9c7995235130ea1
#: register_nav_menus( array( 'primary-nav' => __( 'Primary Navigation',
#: 'amlib' ), 'top-links' 'Top Bar Links',
msgid "Top Bar Links"
msgstr ""

